<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    #background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .text-box {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1; /* Ensure text is on top of the video */
    }

    .text-box p {
        font-size: 30px;
        font-weight: 600;
    }

    .text-box h1 {
        font-size: 90px;
        line-height: 80px;
        margin-left: -5px;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        background: url(images/back.png);
        -webkit-background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
    }

    @keyframes back {
        100% {
            background-position: 2000px 0;
        }
    }

    .text-box h3 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
    }

    .text-box .row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .text-box a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        margin-right: 20px;
        border: 2px solid #fff; /* Set border style */
        transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .text-box a:hover {
        color: #D4AF37; /* Change the color on hover as needed */
        border-color: #D4AF37; /* Change the border color on hover as needed */
        box-shadow: 0 0 20px #D4AF37; /* Add glow effect on hover */
    }
</style>
